*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-image: url("../img/bg-img02.png");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: brightness(32%);
}

div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

h1{
    color: white;
    font-size: 14px;
    font-weight: 1000;
}

img{
    width: 200px;
}

table{
    border-radius: 10px;
    border: 8px solid #F8333C;
    background-color: rgb(0, 5, 22);
    color: white;
    padding: 5px;
    font-size: 12px;

    box-shadow: 10px 5px 50px rgba(0, 0, 0, 0.342);
}

td{
    border: 0;
    width: 30px;
    height: 30px;
    text-align: center;
}